.hyperlink-to-repo {
  color: #f2cc8f;
  position: fixed;
  bottom: 10px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center the text */
  font-size: smaller;
}
