.navbar {
  display: flex;
  align-items: center;
  background-color: #2d3436;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  height: 50px;
  margin-right: 20px;
}
