.navbar {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.ulvius-logo {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin: 0;
  height: 50px;
}
