.sidebar-container {
  top: 20px;
  left: 180px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 20px;
  bottom: 0;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 100vh;
  margin-left: 10px;
  padding-top: 60px;
  box-sizing: border-box;
}

.sidebar a {
  text-decoration: none;
  color: #f2cc8f;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #1d1f2c;
  margin-bottom: 10px;
}

.sidebar a:hover {
  background-color: #81b29a;
}

.sidebar-child {
  width: 100%;
  display: flex;
  flex-direction: column;
}
