.ToDoForm {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-top: 20px;
}

.todo-button {
  background-color: #81b29a;
  margin: 0;
  border: 0;
  height: 50px;
}

.todo-input {
  background-color: whitesmoke;
  border-radius: 8px;
  border: 0;
  height: 50px;
  width: 300px;
  color: black;
  margin-right: 10px;
}

input[type="text"] {
  width: 100%; /* Full width of the container */
  padding: 10px;
  margin-top: 10px; /* Spacing between the input fields */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the width */
}
