.ToDoForm {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-top: 20px;
}

.todo-button {
  background-color: #81b29a;
  margin: 0;
  border: 0;
  height: 50px;
}

.todo-input {
  background-color: whitesmoke;
  border-radius: 8px;
  border: 0;
  height: 50px;
  width: 300px;
  color: black;
  margin-right: 10px;
}
