.ToDoForm {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.todo-button {
  background-color: #81b29a;
  margin: 0;
  border: 0;
  height: 50px;
}

.todo-input {
  background-color: rgb(216, 215, 215);
  border-radius: 8px;
  border: 0;
  height: 50px;
  width: 300px;
  color: black;
  margin-right: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
