.todolist-task-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #464341;
  margin-top: 10px;
  border-radius: 8px;
}

.task-content {
  flex-grow: 1;
  overflow-wrap: break-word;
}

.task-text {
  margin: 0;
  color: #f2cc8f;
}

.task-icons {
  color: #f2cc8f;
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-save {
  color: #f2cc8f;
}
